[user]
	name = Dan Shultz
	email = das0118@gmail.com
[core]
	autocrlf = input
  #safecrlf = true
  safecrlf = false
	editor = vim
	quotepath = false
	excludesfile = /Users/dshultz/.gitignore
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[mergetool]
	keepBackup = false
[push]
	default = simple
[merge]
	tool = p4mergetool
[mergetool "p4mergetool"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $PWD/$BASE $PWD/$REMOTE $PWD/$LOCAL $PWD/$MERGED
	trustExitCode = false
[diff]
	tool = p4mergetool
[difftool "p4mergetool"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $LOCAL $REMOTE
